*{
  box-sizing:border-box;
}
:root{
  --gradient-color: linear-gradient(to right bottom, rgba(255,119, 48, .8), rgba(255,185, 0, .8));
  }
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
.wrapper{
width:1200px;
margin:100px auto;

}

.blog{
display:flex;
flex-wrap:wrap;
justify-content:space-between;


}

.single-blog{
flex-basis:390px;
border:1px solid #eee;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
.blog-img{
position:relative;
overflow:hidden;
}
.blog-img img{
  
width:100%;
transition:.3s;
}
.single-blog:hover .blog-img img{
transform:scale(1.1)
}
.blog-img a{
position:absolute;
left:0;
top:0;
color:#fff;
text-decoration:none;
text-transform:capitalize;
font-size:18px;
background-color:#ff7720;
padding:10px 30px;
}
.blog-info{
width:80%;
margin:0 auto;
border:1px solid #ccc;
position:relative;
z-index:2;
margin-top:-30px;
padding:10px 5px;
background-color:#fff;
text-align:center;
}
.blog-info a{
color:#333;
text-decoration:none;
margin:0 10px;
display:inline-block
}
.blog-content{
padding:20px;
}
.blog-content h4{
font-size:22px;
font-weight:600;
text-transform:capitalize;
border-bottom:1px dashed #eee;
margin-bottom:10px;
padding-bottom:5px;
}
.blog-content a{
background-color:#ff7720;
color:#fff;
text-decoration:none;


}
.blog-content a:before{
position:absolute;

background-color:#333;
content:"";
transition:.3s;
z-index:-1;
}

.blog-content a:hover:before{
left:0;
}



